<script>
  export let target;
  export let href;
  let className;
  export { className as class};

  $: cns = `btn btn-link ${className ? className : ''}`;
</script>

<style>
  a, div {
    padding: 0;
  }
</style>

{#if href}
  <a
    class={cns}
    {target}
    {href}
    on:click|stopPropagation
  >
    <slot />
  </a>
{:else}
  <div
    class={cns}
    on:click|stopPropagation
  >
    <slot />
  </div>
{/if}
