<script>
  import { createEventDispatcher } from 'svelte';

  import ImgIsbn from 'ui/atoms/img-isbn/ImgIsbn';
  import Link from 'ui/atoms/link/Link';

  const dispatch = createEventDispatcher();

  export let author;
  export let isbn;
  export let saga;
  export let title;
  export let url;
  export let location;
  export let locationLink;

  function onSagaClick() {
    dispatch('sagaClick', saga);
  }
</script>

<style>
  .img {
    width: 30px;
    height: 50px;
    flex-shrink: 1;
  }

  .details, .details > * {
    line-height: 1.2;
  }
</style>

<div class='d-flex align-items-center overflow-hidden'>
  <div class='img mr-2'>
    <ImgIsbn {isbn} />
  </div>
  <div class='d-flex flex-column'>
    <div class="d-flex align-items-md-center flex-column flex-md-row overflow-hidden">
      <h6 class='mb-0 text-truncate'>
        {#if saga}
          <Link on:click={onSagaClick}>
            {saga.title}
          </Link>
        {/if}
        <Link
          href={url}
          target=_blank
        >
          {saga ? `#${saga.tome}` : title}
        </Link>
      </h6>
      <span class="details text-muted ml-1">
        {#if saga}
          <Link
            href={url}
            target=_blank
          >
            <small class='mb-0 text-nowrap'>{title}</small>
          </Link>
        {/if}
        {#if author}
          <small class=text-nowrap>{author}</small>
        {/if}
      </span>
    </div>
    {#if location}
      <Link href={locationLink} target=_bank>
        <small>{location}</small>
      </Link>
      {/if}
  </div>
</div>
