<script>
  import { createEventDispatcher, onMount } from 'svelte';
  import debounce from 'lodash/debounce';
  import isArray from 'lodash/isArray';

  import Icon from 'ui/atoms/icon/Icon';
  import TextField from 'ui/atoms/fields/text/TextField';
  import BooksList from 'ui/organisms/books-list/BooksList';

  export let noResult;
  export let placeholder;
  export let filters;
  export let search = '';
  export let items;
  export let loading = false;

  onMount(() => {
    if (search !== '') {
      onSearch();
    }
  });

  const dispatch = createEventDispatcher();

  function onSearch() {
    dispatch('search', search);
  }

  function onSelect({ detail }) {
    dispatch('select', detail);
  }
</script>

<div class='d-flex p-2'>
  <TextField
    type=text
    {placeholder}
    bind:value={search}
    class='flex-grow-1 m-0'
  />
  <button
    class='btn btn-outline-primary mx-2'
    on:click={onSearch}
    disabled={!search || search.length < 3}
  >
    <Icon name='search' />
  </button>
</div>

{#if isArray(items)}
  <BooksList
    {noResult}
    {items}
    {loading}
    {filters}
    on:basket={onSelect}
    on:seeMore
    on:sagaClick
  />
{/if}
