<script>
  import get from 'lodash/get';

  import { stores } from '@sapper/app';

  import { post, put } from 'utils/post';
  import Search from 'ui/pages/search/Search';
  import { library, baskets } from 'app/stores';
  import {
    getLibrariesStatus,
    basketSelect,
    findBookByUid,
    basketAdd,
    basketDel
  } from 'app/views/utils';

  const { page } = stores();

  $: search = get($page, 'query.query');

  let loading = false;
  let items;

  function handleSelect({ detail: { inBasket, uid }, detail }) {
    const cbFunc = inBasket ? basketDel : basketAdd;
    const index = findBookByUid(items, uid);

    basketSelect(detail)
      .catch(({ message }) => {
        items[index].error = message;
      }).then(_ => {
        $baskets = cbFunc(items[index], $baskets);
        items[index].inBasket = !inBasket;
      });
  }

  function handleSeeMore({ detail: { isbn, holding } }) {
    const index = items.findIndex(item => item.isbn === isbn);
    if (index < 0) {
      return;
    }

    items[index].loading = true;

    getLibrariesStatus(holding)
      .then(libraries => {
        items[index].loading = false;
        items[index].libraries = libraries;
      });
  }

  function parseItems(items, books = []) {
    return items && items.map(
      b => ({
        ...b,
        inBasket: findBookByUid(books, b.uid) > -1
      })
    );
  }

  function handleSagaSearch({ detail: { query } }) {
    search = query;
    handleSearch({ detail: search });
  }

  async function handleSearch({ detail: search }) {
    loading = true;
    post('/api/search.json', { search })
      .then(({ result }) => {
        loading = false;
        items = result;
      });
  }

  $: items = parseItems(items, $baskets);
</script>

<Search
  noResult='aucun livre trouvé'
  placeholder='tapez votre recherche'
  {items}
  {loading}
  {search}
  filters={{ library: $library }}
  on:search={handleSearch}
  on:select={handleSelect}
  on:seeMore={handleSeeMore}
  on:sagaClick={handleSagaSearch}
/>
