<script>
    import omit from 'lodash/omit';

    import BaseField from 'ui/atoms/fields/base/BaseField';

    export let label;
    export let value = '';
    export let type = 'text';
    export let placeholder;
    export let error;
    export let small;
    export let right;
    let className = '';
    export { className as class };

    function handleInput(e) {
      value = type.match(/^(number|range)$/)
        ? +e.target.value
        : e.target.value;

      if (type === 'number') {
        error = !/^[0-9]*$/.test(value);
      }
    }

    function getClass({ small, error, right }) {
      let classes = ['form-control'];

      if (small) {
        classes.push('form-control-sm');
      }

      if (error) {
        classes.push('is-invalid');
      }

      if (right) {
        classes.push('text-right');
      }

      return classes.join(' ');
    }

    $: classNames = getClass({ small, error, right });
</script>

<style>
  input {
    flex-grow: 1;
    width: 100%;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
    width: 60px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  div {
    position: relative;
  }
</style>

<BaseField
  {label}
  {error}
  class='{className}'
>
  <div>
    {#if type === 'text'}
      <input
        type='text'
        {placeholder}
        bind:value={value}
        class={classNames}
      />
    {:else}
      <input
        {type}
        {placeholder}
        {value}
        class={classNames}
        on:input={handleInput}
        on:focus
        on:change
        on:blur
        on:keydown
      />
    {/if}
    <slot />
  </div>
</BaseField>
