<script context="module">
  const PATH_LOGIN = '/login';

  export async function preload (page, session) {
    const { user } = session;
    const { path } = page;

    if (!user) {
      if (path !== PATH_LOGIN) {
        this.redirect(302, PATH_LOGIN);
      }
      return;
    }
  }
</script>
<script>
  import Layout from 'app/views/layout/Layout';
</script>

<Layout>
  <slot />
</Layout>
