<script>
  import Layout from './Layout';

  let library = '';
</script>


<style>
  div {
    height: 1000px;
  }
</style>

<div class='position-relative'>
  <Layout
    {...$$props}
    on:click
    on:logout
    let:library={library}
  >
    <div class='border border-info p-2 d-flex flex-column'>
      my content
      <span class=text-muted>library value: {library}</span>
    </div>
  </Layout>
</div>
