<script>
  import Navbar from 'ui/organisms/navbar/Navbar';

  export let active = '';
  export let libraries;
  export let links;
  export let logged;
  export let library = '';
</script>

<style>
  main {
    flex-grow: 1;
    height: 100%;
    margin-top: 2em;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 1664;
  }
</style>

<header>
  <Navbar
    {links}
    {active}
    {libraries}
    {logged}
    bind:library={library}
    on:click
    on:logout
  />
</header>

<main>
  <div class="container page mx-0 mx-sm-auto">
    <slot {library} />
  </div>
</main>
