<script>
    import BaseField from 'ui/atoms/fields/base/BaseField';

    export let label;
    export let value = '';
    export let items;
    export let error;
    export let placeholder;

    let className;
    export { className as class};

    $: {
      if (!value) {
        value = '';
      }
    }
</script>

<style>
  select {
    flex-grow: 1;
  }
</style>

<BaseField
  {label}
  {error}
  class='{className}'
>
  <select
    bind:value={value}
    class=form-control
    class:is-invalid={error}
  >
    {#if placeholder}
      <option value=''>{placeholder}</option>
    {/if}
    {#each items as { label, value }}
      <option {value}>{label}</option>
    {/each}
  </select>
</BaseField>
