<script context='module'>
  import IoIosPower from 'svelte-icons/io/IoIosPower';
  import IoIosSearch from 'svelte-icons/io/IoIosSearch';
  import IoMdBasket from 'svelte-icons/io/IoMdBasket';
  import IoIosTime from 'svelte-icons/io/IoIosTime';
  import IoMdImage from 'svelte-icons/io/IoMdImage';
  import IoIosPin from 'svelte-icons/io/IoIosPin';
  import IoMdArrowDropdown from 'svelte-icons/io/IoMdArrowDropdown';
  import IoMdArrowDropup from 'svelte-icons/io/IoMdArrowDropup';

  export const icons = {
    basket: IoMdBasket,
    time: IoIosTime,
    image: IoMdImage,
    power: IoIosPower,
    search: IoIosSearch,
    pin: IoIosPin,
    dropdown: IoMdArrowDropdown,
    dropup: IoMdArrowDropup
  }
</script>
<script>
  import IoIosHelp from 'svelte-icons/io/IoIosHelp.svelte'

  export let name = '';
  export let type = 'md';
  export let medium = false;
  export let large = false;
  export let noHover = false;

  $: className = `ion ion-${type}-${name}`;
</script>

<style>
  span {
    opacity: 0.75;
    display: block;
    width: 15px;
    height: 15px;
  }

  span.hover:hover {
    opacity: 1;
  }

  .md {
    width: 30px;
    height: 30px;
  }

  .lg {
    width: 50px;
    height: 50px;
  }
</style>

<span
  class='d-flex align-items-center'
  class:lg={large}
  class:md={medium}
  class:hover={!noHover}
>
  {#if icons[name]}
    <svelte:component this={icons[name]} />
  {:else}
    <IoIosHelp />
  {/if}
</span>
