<script>
  import TextField from 'ui/atoms/fields/text/TextField';

  import Icon, { icons } from './Icon'

  const items = Object.keys(icons);
  items.sort();

  let search = '';
</script>

<style>
  .sample {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
</style>

<input
  type=text
  placeholder='filter...'
  bind:value={search}
/>

<div class=d-flex>
  {#each items as name}
    <div
      class=sample
      class:d-none={search && name.indexOf(search) < 0}
    >
      <Icon {name} medium />
      <small>{name}</small>
    </div>
  {/each}
  <div
    class=sample
    class:d-none={search && 'not found'.indexOf(search) < 0}
  >
    <Icon medium />
    <small>not found</small>
  </div>
</div>
