<script>
  import { createEventDispatcher } from 'svelte';

  import Loading from 'ui/atoms/loading/Loading';

  const dispatch = createEventDispatcher();

  export let loading = false;
  export let error;
  export let password = '';
  export let login = '';

  function onSubmit () {
    dispatch('submit', {
      login,
      password
    });
  }
</script>

<div class='d-flex align-items-center flex-column'>
  <div class="form-group">
    <input
      class=form-control
      name=email
      type=email
      placeholder=email
      bind:value={login}
    />
  </div>
  <div class="form-group">
    <input
      class=form-control
      name='password'
      type='password'
      placeholder='password'
      bind:value={password}
    />
  </div>
  {#if error}
    <div class='alert alert-danger'>
      {error}
    </div>
  {/if}
  {#if loading}
    <Loading />
  {:else}
    <button
      type=button
      class="btn btn-primary"
      on:click|preventDefault={onSubmit}
      disabled={!login || !password}
    >
      Submit
    </button>
  {/if}
</div>
