<script>
  import { createEventDispatcher } from 'svelte';

  import Section from 'ui/atoms/section/Section';
  import List from 'ui/organisms/books-list/BooksList';

  const KEY_LOANS = 'loans';
  const KEY_BASKET = 'basket';

  export let loans = [];
  export let isLoanLoading = false;
  export let baskets = [];
  export let library;
  export let isBasketLoading = false;
  export let active = '';
  let booksCount;
  let books;

  const dispatch = createEventDispatcher();

  function askLoanExtension({ detail }) {
    dispatch('loanExtension', detail);
  }

  function excludeFromBasket({ detail }) {
    dispatch('basketExclude', detail);
  }

  function handleOpen(type) {
    return () => {
      active = active === type ? '' : type;
      if (active) {
        dispatch('open', active);
      }
    }
  }

  $: {
    books = baskets.map(
      ({ libraries, ...b })  => {
        if (library && libraries) {
          const lib = libraries && libraries.find(({ site }) => site === library);
          if (lib) {
            b.isAvailable = lib.isAvailable;
          }
        }

        return { ...b, libraries, inBasket: true };
      }).sort(
        (a, b) => {
          if (a.isAvailable !== b.isAvailable) {
              if (a.isAvailable === undefined) {
                return 1;
              }
              if (b.isAvailable === undefined) {
                return -1;
              }

              return !a.isAvailable ? 1 : -1;
          }

          if (a._sorted < b._sorted) {
            return -1;
          }

          if (a._sorted > b._sorted) {
            return 1;
          }

          return 0;
        }
      );

    booksCount = library
      ? books.filter(({ isAvailable }) => isAvailable).length + '/' + books.length
      : books.length;
  }
  $: loanBooks = loans.map(l => ({ ...l, isLoan: true }));
</script>

<Section
  name='Prêts en cours'
  total={loans.length}
  open={active === KEY_LOANS}
  on:click={handleOpen(KEY_LOANS)}
>
  <List
    noResult='aucun prêt'
    loading={isLoanLoading}
    items={loanBooks}
    on:basket={askLoanExtension}
    on:sagaClick
  />
</Section>

<Section
  name='Mon panier'
  total={booksCount}
  open={active === KEY_BASKET}
  on:click={handleOpen(KEY_BASKET)}
>
  <List
    noResult='panier vide'
    items={books}
    filters={{ library }}
    loading={isBasketLoading}
    on:basket={excludeFromBasket}
    on:sagaClick
  />
</Section>
