<script>
  import ImgIsbn from './ImgIsbn';
</script>
<style>
  .d-flex > div {
    margin: 10px;
  }

  .big {
    width: 150px;
    height: 300px;
  }

  .small {
    width: 15px;
    height: 30px;
  }
</style>

<div class='d-flex align-items-center'>
  <div class=small>
    <ImgIsbn {...$$props} />
  </div>
  <div class=big>
    <ImgIsbn {...$$props} />
  </div>
</div>
