<script>
  import Icon from 'ui/atoms/icon/Icon';

  export let isbn = '';

  let isLoading = true;

  function handleError() {
    if (/isbndb/.test(src)) {
      src = '';
      return;
    }
    // eslint-disable-next-line no-unused-vars
    const [_, one, two] = isbn.match(/(\d{2})(\d{2})$/) || {};
    src = `https://images.isbndb.com/covers/${one}/${two}/${isbn}.jpg`;
  }

  function handleLoad() {
    isLoading = false;
  }

  $: src = `https://pictures.abebooks.com/isbn/${isbn}.jpg`;
</script>

<style>
  span.d-flex {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    overflow: hidden;
  }

  span.loaded {
    opacity: 0.5;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  span > :global(span) {
    width: 50% !important;
    height: 50% !important;
  }

  img {
    width: 100%;
  }
</style>

<span
  class='d-flex flex-column align-items-center justify-content-center border rounded'
  class:loaded={isLoading || !isbn || !src}
>
  {#if isLoading}
    <Icon name=image noHover large />
  {/if}
  {#if isbn && src}
    <img
      {src}
      alt={isbn}
      class:d-none={isLoading}
      on:load={handleLoad}
      on:error={handleError}
    />
  {/if}
</span>
