<script>
  import Status from 'ui/atoms/status/Status';
  import IconButton from 'ui/atoms/icon-button/IconButton';
  import Loading from 'ui/atoms/loading/Loading';

  export let loading = false;
  export let status;
  export let statusColor;
  export let icon = 'basket';
  export let iconColor = 'success';
  export let detail;
  export let detailColor = 'muted';
</script>

<div class='d-flex flex-column align-items-end m-1' >
  <div class='d-flex align-items-center'>
    {#if status}
      <small class=pr-1>{status}</small>
    {/if}

    {#if loading}
      <Loading small />
    {:else if statusColor}
      <Status color={statusColor} />
    {/if}
    {#if icon}
      <IconButton
        name={icon}
        class=ml-2
        color={iconColor}
        on:click
      />
    {/if}
  </div>
  {#if detail}
    <small class='text-{detailColor} mx-1 text-right'>{detail}</small>
  {/if}
</div>
