<script>
  import { createEventDispatcher } from 'svelte';

  import Loading from 'ui/atoms/loading/Loading';
  import Status from 'ui/atoms/status/Status';
  import BookStatus from 'ui/molecules/book-status/BookStatus';
  import BookTitle from 'ui/molecules/book-title/BookTitle';

  import { getStatus } from './utils';

  export let author;
  export let title;
  export let url;
  export let description;
  export let library;
  export let libraries = [];
  export let loading = false;
  export let isbn;
  export let open = false;
  export let inBasket = false;
  export let saga;
  export let location;
  export let locationLink;
  export let cote;
  // loan
  export let isLoan = false;
  export let whenBack;
  export let canRenew;
  export let isSoonLate;
  export let isLate;
  export let cannotRenewReason;
  export let error;

  const dispatch = createEventDispatcher();

  let bookStatus = {};

  function toggleDetail() {
    open = !open;
    if (open) {
      dispatch('seeMore', $$props);
    }
  }

  function handleAction(e) {
    e.stopPropagation();
    dispatch('basket', $$props);
  }

  $: bookStatus = getStatus({
    library,
    libraries,
    loading,
    isLoan,
    inBasket,
    whenBack,
    canRenew,
    isSoonLate,
    isLate,
    cannotRenewReason,
    error,
    cote
  });
</script>
<style>
  .holding {
    position: relative;
    border-top: 1px solid #ddd;
  }

  .description {
    font-size: 0.8em;
    font-style: italic;
    border-top: 1px solid #dedede;
  }

  .holding .site {
    flex-grow: 1;
    text-align: right;
  }

  .holding .status-label {
    flex-shrink: 0;
    white-space: nowrap;
    margin-right: 3px;
  }

  .holding .bg-warning {
    opacity: 0.1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
  }

</style>

<div on:click={toggleDetail}>
  {#if isLoan && bookStatus.iconColor !== 'success'}
    <div
      class='bg bg-{bookStatus.iconColor}'
      class:d-block={isLoan && bookStatus.iconColor !== 'success'}
    />
  {/if}
  <div class='position-relative d-flex justify-content-between align-items-center mx-2 py-1'>
    <BookTitle
      {author}
      {isbn}
      {saga}
      {title}
      {url}
      {location}
      {locationLink}
      on:sagaClick
    />
    <div class='flex-shrink-1'>
      <BookStatus
        {...bookStatus}
        on:click={handleAction}
      />
    </div>
  </div>

  {#if open}
    {#if description}
      <div class="px-4 text-muted">
        <p class="description pt-2 mb-0">{@html description}</p>
      </div>
    {/if}
    <div class=mx-3>
      {#if loading}
        <div class=text-center>
          <Loading />
        </div>
      {:else}
        {#each libraries as { isAvailable, isReservable, site, status, when }}
          <div
            class='holding d-flex p-2 align-items-center'
          >
            {#if !isLoan && library && site === library}
              <div class=bg-warning />
            {/if}
            <Status color={isAvailable ? 'success' : 'danger'} />
            <span class="status-label ml-2">
              <small>{status}</small>
              {#if when}
                <small class=text-muted>{when}</small>
              {/if}
            </span>
            <span class="site text-truncate">{site}</span>
          </div>
        {/each}
      {/if}
    </div>
  {/if}
</div>
