<script>
  import Badge from './Badge';
  const colors = [
    'primary',
    'secondary',
    'success',
    'danger',
    'warning',
    'info',
    'light',
    'dark'
  ];
</script>

<div class=d-flex>
  {#each colors as color, index}
    <Badge {color} class=m-3>
      {index}
    </Badge>
  {/each}
</div>
