<script>
  import omit from 'lodash/omit';

  import Loading from 'ui/atoms/loading/Loading';
  import Book from 'ui/organisms/book/Book';

  export let items = [];
  export let noResult = '';
  export let filters = {};
  export let loading = false;

  $: rest = omit($$props, ['items', 'component', 'noResult']);
</script>

<style>
  .item {
    position: relative;
    border-radius: 5px;
    border: 1px solid #ddd;
  }

  .item:hover {
    background-color: #f6f6f6;
  }
</style>

<div>
  {#if loading}
    <Loading />
  {:else}
    {#if !items.length}
      <p class='text-muted text-center'>{noResult}</p>
    {:else}
      {#each items as item}
        <div class="item mb-2 p-2">
          <Book
            {...rest}
            {...filters}
            {...item}
            on:basket
            on:seeMore
            on:sagaClick
          />
        </div>
      {/each}
    {/if}
  {/if}
</div>
