<script>
    export let label;
    export let error;
    export let id;
</script>

<style>
  .invalid-feedback {
    display: block;
  }
</style>

<div class={`${$$props.class} form-group`}>
  {#if label}
    <label class=w-100 for={id}>{@html label}</label>
  {/if}
  <slot />
  {#if error}
    <div class="invalid-feedback">{error}</div>
  {/if}
</div>
