<script>
  import Icon from 'ui/atoms/icon/Icon';

  export let color = 'primary';
  export let name;
  export let medium;
  export let large;
  let className;
  export { className as class };
</script>

<style>
  button {
    border-radius: 100%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button.btn-outline-warning:hover {
    color: white !important;
  }
</style>

<button
  class='btn btn-outline-{color} p-1 {className}'
  on:click
>
  <Icon
    {name}
    {medium}
    {large}
  />
</button>
