<script>
  import Status from './Status';

  const colors = [
    'primary',
    'secondary',
    'success',
    'danger',
    'warning',
    'info',
    'light',
    'dark'
  ];
</script>

<div class=d-flex>
  {#each colors as color}
    <div class=m-3>
      <Status {color} />
    </div>
  {/each}
</div>
