<script>
  import Icon from 'ui/atoms/icon/Icon';
  import Badge from 'ui/atoms/badge/Badge';

  export let icon;
  export let counter;
  export let color = 'primary';
  export let active;
  export let open;
</script>

<style>
  button {
    position: relative;
    text-align: center;
  }

  button:focus {
    box-shadow: none;
  }

  .bar {
    display: none;
    position: absolute;
    bottom: 0;
    left: 30%;
    right: 30%;
    height: 2px;
  }

  .dropdown {
    position: absolute;
    right: 0;
    top: 5px;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  .dropdown.open {
    top: -5px;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .dropdown :global(span) {
    width: 20px;
    height: 20px;
  }

  .icon {
    font-size: 1.5rem;
  }

  .badge {
    position: absolute;
    right: 0;
    top: 0;
  }
</style>

<button
  type=button
  class='btn text-{color}'
  on:click
>
  <span
    class='bar bg-{color}'
    class:d-block={active}
  />

  {#if open !== undefined}
    <span class=dropdown class:open={open}>
      <Icon name={ open ? 'dropup' : 'dropdown'} />
    </span>
  {/if}

  <span class=icon>
    <Icon name={icon} medium />
  </span>

  {#if counter}
    <span class=badge>
      <Badge color=info>
        {counter}
      </Badge>
    </span>
  {/if}
</button>

