<script>
  import NavIcon from './NavIcon';

  export let icon;

  let active = 0;

  function activeIndex(index) {
    return () => active = index;
  }

  const colors = [
    'primary',
    'secondary',
    'success',
    'danger',
    'warning',
    'info',
    'light',
    'dark'
  ];
</script>

<div class=d-flex>
  {#each colors as color, index}
    <div class=m-3>
      <NavIcon
        active={active === index}
        open={index === active + 1}
        {color}
        {icon}
        counter={index}
        on:click={activeIndex(index)}
      />
    </div>
  {/each}
</div>
