<script>
  import { createEventDispatcher } from 'svelte';
  import { slide } from 'svelte/transition';
  import get from 'lodash/get';

  import NavIcon from 'ui/molecules/nav-icon/NavIcon';
  import Select from 'ui/atoms/fields/select/SelectField';

  export let links = [];
  export let active;
  export let color = 'info';
  export let libraries = [];
  export let library;
  export let logged = false;

  let filterOpen = false;

  const dispatch = createEventDispatcher();

  function onLogout() {
    dispatch('logout');
  }

  function onClick(action) {
    return () => dispatch('click', action);
  }

  function toggleFilter() {
    filterOpen = !filterOpen;
  }

  function isActive(action) {
    return action === active;
  }

</script>

<style>
  .nav {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
  }
</style>

<div class=nav>
  <div class='d-flex justify-content-between border'>
    {#each links as { icon, counter, path } }
      <NavIcon
        {icon}
        {color}
        {counter}
        on:click={onClick(path)}
        active={isActive(path)}
      />
    {/each}

    <div class='d-flex align-self-end' >
      {#if libraries && libraries.length}
        <NavIcon
          icon=pin
          open={filterOpen}
          counter={library && library !== '' ? 1 : 0}
          {color}
          on:click={toggleFilter}
        />
      {/if}

      {#if logged}
        <NavIcon
          icon=power
          {color}
          on:click={onLogout}
        />
      {/if}
    </div>
  </div>

  {#if filterOpen && libraries && libraries.length}
    <div transition:slide>
      <Select
        placeholder='choisir une bibliothèque'
        items={libraries}
        bind:value={library}
        class=m-3
      />
    </div>
  {/if}
</div>
