<script>
  export let color = 'secondary';
  export let small = false
</script>

<style>
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
  }

  .small {
    width: 0.8rem;
    height: 0.8rem;
  }
</style>

<div class=loading>
  <div
    class='spinner-grow text-${color}'
    class:small={small}
  />
</div>
