<script>
  import { slide } from 'svelte/transition';

  export let name;
  export let total = '';
  export let open = false;

</script>

<style>
  .border-bottom {
    border-color: #bdbdbd;
    cursor: pointer;
    position: relative;
  }

  h5:hover {
    background-color: #efefef;
  }

  h5 > i {
    position: absolute;
    right: 10px;
  }
</style>

<div class="border-bottom mb-2" >
  <h5
    class="name text-center p-2 mb-0 text-secondary"
    on:click
  >
    <span>{name}</span>
    <small class=text-muted>( {total} )</small>
    <i
      class=ion
      class:ion-md-arrow-dropdown={!open}
      class:ion-md-arrow-dropup={open}
    />
  </h5>

  {#if open}
    <div class=m-1 transition:slide>
      <slot />
    </div>
  {/if}
</div>
