<script>
  import { stores, goto } from '@sapper/app';
  import { onMount } from 'svelte';

  import Layout from 'ui/pages/layout/Layout';

  import { get, post } from 'utils/post';
  import { baskets, library, libraries, loans } from 'app/stores';

  const { session, page } = stores();

  let librariesLoaded = $libraries.length;
  let basketsLoaded = $baskets.length;
  let loansLoaded = $loans.length;
  let mounted = false;

  function getLinks(user) {
    const links = [
      { icon: 'search', path: '/search' }
    ];

    if (user) {
      links.push({ icon: 'basket', path: '/', counter: $baskets.length });
    }

    return links;
  }

  async function handleLogout() {
    await post('/api/logout.json');

    session.set({ user: false });

    goto('/login');
  }

  function goTo({ detail }) {
    goto(detail);
  }

  function loadLibraries() {
    librariesLoaded = true;

    get('/api/sites.json').then(
      ({ sites }) => libraries.set(sites)
    );
  }

  function loadBaskets() {
    basketsLoaded = true;
    post('/api/basket.json')
      .then(({ books, success, message }) => {
        if (!success) {
          alert(message);
          handleLogout();
          return;
        }

        baskets.set(books);
      });
  }

  function loadLoans() {
    loansLoaded = true;
    post('/api/loans.json')
      .then(({ loans: books, success, message }) => {
        if (!success) {
          alert(message);
          handleLogout();
          return;
        }

        loans.set(
          books.map(
            ({ whenBack, ...rest }) => ({ ...rest, whenBack: new Date(whenBack), open: true })
          )
        );
      });
  }

  onMount(() => {
    mounted = true;
  });

  $: {
    if (mounted && $session.user) {
      !librariesLoaded && loadLibraries();
      !basketsLoaded && loadBaskets();
      !loansLoaded && loadLoans();
    }
  }

  $: links = getLinks($session.user, $baskets);
  $: logged = !!$session.user;
</script>

<Layout
  bind:library={$library}
  libraries={$libraries}
  {logged}
  {links}
  active={$page.path}
  on:click={goTo}
  on:logout={handleLogout}
>
  <slot />
</Layout>
